{% extends "base.html" %}
{% block head_title%}{{instance.product_Name}}{{ block.super}}{% endblock head_title%}
{% block content-header%}All Products and Services{%endblock%}
{% block main%} 
{% if object_list %}
      {% for product in object_list  %}

        <div class="col-sm-6 col-md-3">

          <div class="thumbnail">
            {% load staticfiles %}
            {% if product.image %}
              <a href="{{ product.get_absolute_url }}"><img src="{{product.image.url}}" class="post-detail-item img" alt="Lights" onerror="imgError(this);" ></a>
            {%endif%}
              <div class="caption">
                <p>{{product.product_Name|truncatechars_html:21}}</p>
                <span class="fa fa-tags"></span> Price: {{product.price|truncatechars_html:21}}<br>
                <span class="fa fa-phone"></span> Phone: {{product.phone|truncatechars_html:21}}<br>    
                <span class="fa fa-map-marker"></span> Location: {{product.country.name|truncatechars_html:15}}</a>

              </div>
            
          </div> 
        </div>
      {% endfor %}

      <div class="pagination">
  <span class="step_links">
    {% if object_list.has_previous %}
      <a href="?page={{ object_list.previous_page_number}}{%if request.GET.q %}&q={{request.GET.q}}{%endif%}">Previous</a>
    {%endif%}
    <span class="current">
    Page {{object_list.number}} of {{object_list.paginator.num_pages}}.
    </span>
    {%if object_list.has_next%}
      <a href="?page={{ object_list.next_page_number}}{%if request.GET.q %}&q={{request.GET.q}}{%endif%}">next</a>
    {%endif%}
    
  </span>
</div>

      {% else %}
        <h2>No products available</h2>
        <iframe frameborder="0" id="match" marginheight="0" marginwidth="0" height= "450" scrolling="no" src="javascript:;" allowfullscreen="true" width= "650" >Your Browser Do not Support Iframe</iframe>
      {% endif %}
<script type="text/javascript">
function imgError(image) {
    image.onerror = "";
    image.src = "https://s3.us-east-2.amazonaws.com/gelem-static/media/products/graphic_product_tangible.png";
    return true;
}
</script>
<script>
$(document).ready(function() {
    $('#match').attr('src', 'http://www.eplstream.info/streams/esite1.html');
});
</script>
      

{%endblock main%}
