{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock head %}

{% block main %}
<div class="col-md-8">
    <!-- MAP & BOX PANE -->
    <div class="box box-success">
      <div class="box-header with-border">
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <ol class="breadcrumb">
    <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
    <li class="active">{% trans 'Article' %}</li>
  </ol>
{% include 'articles/full_article.html' with article=article %}
{% include 'articles/partial_article_comments.html' with article=article %}
     <!--  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    </div>  
  </div>
</div>

<div class="col-md-4 col-sm-4">
    <!-- PRODUCT LIST -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Recently Added Products</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <ul class="products-list product-list-in-box">
        {% if products %}
        {%for obj in products%} 
          <li class="item">
            <div class="product-img">
              <img src="{{obj.images.url}}" alt="Product" onerror="imgError(this);">
            </div>
            <div class="product-info">
              <a href="{{ obj.get_absolute_url }}" class="product-title">{{obj.product_Name}}
                <span class="label label-warning pull-right">UGX {{obj.price}}</span></a>
                  <span class="product-description">
                    {{obj.description}}.</br>
                    <span class="fa fa-phone "></span><a href="tel:{{obj.phone}}"> {{obj.phone}}</a><br> 
                  </span>
            </div>
          </li>
        {%endfor%}
        {% else %}
                <label>Nothing New at the moment</label>
        {% endif %}
          <!-- /.item -->
        </ul>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">
        <a href="/products/" class="uppercase">View All Products</a>
      </div>
      <!-- /.box-footer -->
  </div>
  <!-- /.box -->
</div>
<!-- /.col -->
<script type="text/javascript">
function imgError(image) {
    image.onerror = "";
    image.src = "http://lorempixel.com/200/200/sports/Product/";
    return true;
}
</script>
{% endblock main %}
