{% load i18n %}
{% load humanize %}

<li feed-id="{{ feed.pk }}" csrf="{{ csrf_token }}">
  <div class="feed-container">
    <a href="{% url 'profile' feed.user.username %}"><img src="{{ feed.user.profile.get_picture }}" class="user img-circle img-bordered-sm online" onerror="imgErrorUser(this);"></a>
    <div class="post post-detail-item img">
      {% if feed.user == user or user.is_superuser == True %}
        <span class="fa fa-remove remove-feed" title="{% trans 'Click to remove this feed' %}"></span>
      {% endif %}
      <h3><a href="{% url 'profile' feed.user.username %}">{{ feed.user.profile.get_screen_name }}</a> <small>{{ feed.date|naturaltime }}</small></h3>
      <p>{{ feed.linkfy_post|safe }}</p>
      {% if feed.image %}
      <img src="/media/{{ feed.image }}" class="post-detail-item img" onerror="imgErrorUser(this);">
      {% endif %}
      <div class="interaction">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" class="text-sm pull-right" target="_blank"><i class="fa fa-facebook-official margin-r-5"></i> </a>
        {% if user in feed.get_likers %}
          
          <a href="#" class="like unlike link-black text-sm">
            <span class="fa fa-thumbs-o-up margin-r-5"></span>
            <span class="text">{% trans 'Unlike' %}</span>
            (<span class="like-count">{{ feed.likes }}</span>)
          </a>
        {% else %}
          <a href="#" class="like link-black text-sm">
            <span class="fa fa-thumbs-o-up margin-r-5"></span>
            <span class="text">{% trans 'Like' %}</span>
            (<span class="like-count">{{ feed.likes }}</span>)
          </a>
        {% endif %}
        <a href="#" class="comment link-black text-sm">
          <span class="fa fa-comments-o margin-r-5"></span> {% trans 'Comment' %}
          (<span class="comment-count">{{ feed.comments }}</span>)
        </a>
      </div>
      <div class="comments">
        <form role="form" method="post" action="{{ comment }}" onsubmit="return false">
          {% csrf_token %}
          <input type="hidden" name="feed" value="{{ feed.pk }}">
          <input type="text" class="form-control input-sm flat" id="standalo" placeholder="{% trans 'Write a comment...' %}" name="post" maxlength="255">
        </form>
        <ol class="clearfix">
          {% comment %} Place holder to load feed comments {% endcomment %}
        </ol>
      </div>
    </div>
  </div>
</li>

